@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.subTitle__line {
  width: 40px;
  height: 2px;
  background-color: #4DCEED;
  margin-left: 10px;
}

.headingOne {
  font-size: 5rem;
  font-weight: 500;
  padding: 10px 0px 20px;
}

.headingTwo {
  font-size: 3.4rem;
  font-weight: 500;
}

.headingThree {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.paragraphUnderHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2rem;
  color: #121519;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

ul li::marker {
  content: ">";
  font-weight: 700;
  color: #4DCEED;
}

li p {
  margin-left: 10px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 50px;
  border: 1px solid #DDDDDD;
  background: none;
  padding: 12px 30px;
}

.button__image {
  width: 10px;
  margin-left: 5px;
}

@media screen and (min-width: 700px) {
  .headingOne {
    max-width: 70vw;
    font-size: 6.8rem;
    padding: 15px 0px 30px;
  }
  .headingTwo {
    font-size: 5rem;
    font-weight: 500;
  }
  .subTitle {
    font-size: 1.9rem;
  }
  .paragraphUnderHeading {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 992px) {
  .headingOne {
    width: 50vw;
    max-width: 720px;
    font-size: 7.2rem;
  }
  .headingTwo {
    font-size: 6rem;
  }
  .headingThree {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .paragraph {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .button {
    font-size: 1.45rem;
    padding: 20px 30px;
  }
  .button__image {
    width: 11px;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
}

.header__underHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__underHeadingIconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: 10px;
}

.header__icon {
  width: 20px;
  padding: 5px;
}

.header__scrollBox {
  position: absolute;
  top: 90vh;
  left: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__paragraphScroll {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #121519;
  cursor: pointer;
}

.header__scrollBlueLine {
  width: 2px;
  height: 95px;
  background-color: #4DCEED;
  margin-left: 10px;
}

.aboutUs {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px;
  margin: 50px 0px;
}

.aboutUs__icon {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 40px;
  z-index: 100;
}

.aboutUs__textArticle {
  position: relative;
  width: 95%;
  max-width: 50rem;
  background-color: #FFFFFF;
  padding: 40px 30px;
}

.aboutUs__textArticle::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 10%;
  width: 100%;
  height: 105%;
  background-color: #F9F9F9;
  padding: 0px;
  z-index: -1;
}

.aboutUs__paragraph {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4;
  color: #303234;
  margin: 30px 0px;
}

.aboutUs__paragraphAuthor {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.56;
  color: #303234;
}

.aboutUs__SVG {
  display: none;
}

.colaboration {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 30px;
  margin: 50px 0px;
}

.colaboration__headingBoxWithIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0px;
}

.colaboration__icon {
  width: 90px;
}

.colaboration__span {
  font-weight: bold;
  color: #4DCEED;
  padding-right: 10px;
}

.colaboration__list {
  padding-left: 7px;
}

.colaboration__boxButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 700px) {
  .header {
    position: relative;
  }
  .header__scrollBox {
    top: 88vh;
    left: 176.5px;
  }
  .header__paragraphScroll {
    font-size: 1.3rem;
  }
  .header__scrollBlueLine {
    height: 150px;
  }
  .aboutUs {
    margin: 100px 0px;
  }
  .aboutUs__icon {
    position: absolute;
    top: 3%;
    left: 15%;
    width: 50px;
  }
  .aboutUs__textArticle {
    width: 70%;
    padding: 40px 50px;
    margin: 0 auto;
  }
  .aboutUs__textArticle::after {
    height: 106%;
  }
  .aboutUs__paragraph {
    font-size: 3rem;
  }
  .colaboration {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .colaboration__headingArticle {
    width: 50%;
    text-align: center;
    margin-top: 35px;
  }
  .colaboration__textArticle {
    width: 50%;
  }
  .colaboration__counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .colaboration__counterNumber {
    padding: 0px 40px;
  }
  .colaboration__counterNumber:nth-last-child(odd) {
    border-left: 1px solid #4DCEED;
  }
  .colaboration__counterNumber:nth-last-child(even) {
    border-right: 1px solid #4DCEED;
  }
  .colaboration__headingBoxWithIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .colaboration__icon {
    width: 100px;
    margin-top: -20px;
  }
  .colaboration__icon--first {
    margin-top: -35px;
  }
  .colaboration__boxImage {
    width: 40%;
  }
  .colaboration__boxText {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .header {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
  }
  .aboutUs__icon {
    position: absolute;
    top: 8%;
    left: 23%;
    width: 70px;
  }
  .aboutUs__textArticle {
    max-width: 60rem;
    margin: 5.5rem 0px 0px calc(100% * 0.28);
    padding: 40px 50px 40px 0px;
  }
  .aboutUs__paragraph {
    font-size: 4rem;
  }
  .aboutUs__paragraphAuthor {
    font-size: 1.6rem;
  }
  .aboutUs__SVG {
    position: absolute;
    right: 0;
    display: block;
    width: 20vw;
  }
  .colaboration {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
  }
  .colaboration__icon {
    width: 140px;
  }
  .colaboration__headingArticle {
    padding-right: 12vw;
  }
}
/*# sourceMappingURL=main.css.map */