@media screen and ( min-width: 700px )
    .header
        position: relative

        &__scrollBox
            top: 88vh
            left: 176.5px

        &__paragraphScroll
            font-size: 1.3rem

        &__scrollBlueLine
            height: 150px