@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./_topography"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Roboto', sans-serif
    scroll-behavior: smooth

.header
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0px 30px

    &__underHeading
        display: flex
        flex-direction: row
        align-items: center
        align-content: center

    &__underHeadingIconBox
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        border: 1px solid $black
        border-radius: 50%
        margin-left: 10px

    &__icon
        width: 20px
        padding: 5px

    &__scrollBox
        position: absolute
        top: 90vh
        left: 15vw
        display: flex
        align-content: center
        align-items: center

    &__paragraphScroll
        font-size: 1.2rem
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 1.5px
        color: $gray
        cursor: pointer

    &__scrollBlueLine
        width: 2px
        height: 95px
        background-color: $blue
        margin-left: 10px


@import "./_medium"
@import "./_large"
