@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Mali:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "./_mixins"
@import "./_topography"

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Lato', sans-serif
    scroll-behavior: smooth
    overflow-x: hidden

.websiteTopSVG
    position: absolute
    top: 0
    right: 0

.navigation
    width: 100vw
    height: 60px
    @include flexRowCenter
    justify-content: space-between
    padding: 20px 30px 0px
    
    &__logo
        height: 90%

    &__mobileButton
        position: relative
        width: 30px
        height: 15px
        @include flexColumnCenter()
        justify-content: space-between
        z-index: 1000

    &__mobileButtonTop,
    &__mobileButtonBot,
    &__mobileButtonMid
        width: 100%
        height: 3px
        background-color: $black

.navigationMain
    display: none

       
.header
    @include flexColumnCenter
    width: 100vw
    height: calc(100vh - 80px)
    align-items: flex-start
    padding: 0 30px
    
    &__underHeading
        @include flexRowCenter
        
    &__underHeadingIconBox
        @include flexRowCenter
        border: 1px solid $black
        border-radius: 50%
        margin-left: 10px

    &__icon
        width: 20px
        padding: 5px

    &__scrollBox
        @include flexRowCenter
        position: absolute
        top: 90vh
        left: 15vw

    &__paragraphScroll
        font-size: 1rem
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 1.5px
        color: $gray
        cursor: pointer

    &__scrollBlueLine
        width: 2px
        height: 95px
        background-color: $blue
        margin-left: 10px

.aboutUs
    position: relative
    @include sectionStyles

    &__icon
        position: absolute
        top: 0%
        left: 2%
        width: 40px
        z-index: 100

    &__textArticle
        position: relative
        width: 95%
        max-width: 50rem
        background-color: $white
        padding: 0px 30px

        &::after
            content: ""
            position: absolute
            top: 0%
            left: 10%
            width: 100%
            height: 105%
            background-color: $dirtyWhite
            z-index: -1

    &__paragraph
        font-family: 'Mali', cursive
        font-size: 2rem
        font-weight: 300
        line-height: 1.4
        color: $grayLight
        margin: 30px 0px

    &__paragraphAuthor
        font-family: 'Mali', cursive
        font-size: 1.2rem
        font-weight: 400
        line-height: 1.56
        color: $grayLight

    &__SVG
         display: none

.colaboration
    position: relative
    @include sectionStyles
    margin-bottom: 0px

    &__boxWithIcon
        @include flexColumnCenter
        align-items: flex-start
        margin: 30px 0px

    &__icon
        width: 90px

    &__list
        padding-left: 7px

    &__boxButton
        width: 100%
        @include flexRowCenter
        margin-top: 30px

    &__counter
        display: none

.organization
    @include sectionStyles
    position: relative
    padding-bottom: 50px

    &__boxWithIcon
        @include flexColumnCenter
        align-items: flex-start
        margin: 30px 0px

    &__icon
        width: 90px

    &__boxButton
        @include flexRowCenter
        width: 100%
        margin-top: 30px

    &__counter
        display: none

    &__wrapper
        position: absolute
        left: 0px
        width: 100%
        height: 105%
        background-color: $dirtyWhite
        overflow: hidden
        z-index: -1

.skills
    @include sectionStyles

    &__articleWithIcons
        @include flexRowCenter
        flex-wrap: wrap
        margin-top: 10px

    &__boxWithIcon
        width: 50%
        @include flexColumnCenter
        padding: 5px 0px 20px
        margin-top: 30px

    &__boxWithIcon:nth-child(odd)
        border-right: 1px solid $borderColor
        border-left: 1px solid $borderColor

    &__boxWithIcon:nth-child(even)
        border-right: 1px solid $borderColor

    &__icon
        width: 90px

    &__paragraphMid
        margin-top: 50px

    &__articleWithList
        display: flex
        flex-wrap: wrap
        border-right: 1px solid $borderColor
        border-left: 1px solid $borderColor
        padding: 20px 0px 20px
        margin-top: 20px

    &__boxWithList
        width: 100%
        padding-left: 30px

.team
    @include sectionStyles

    &__firstArticle
        border-right: 1px solid $borderColor
        border-left: 1px solid $borderColor
        margin-top: 10px

    &__iconMail
        width: 20px
        margin-top: 1px
        margin-right: 3px

    &__personContact
        @include flexRowCenter
        justify-content: flex-start

    &__personName
        font-weight: 300
        font-size: 2rem

    &__role
        font-size: 1rem
        font-weight: 700
        letter-spacing: 0.2rem
        text-transform: uppercase
        padding: 10px 0px 5px

    &__mail
        text-decoration: none
        color: $black
        transition: color 0.2s

    &__mail:hover
        color: $blue

    &__person
        font-family: 'Mali', cursive
        margin-top: 30px
        padding-left: 30px

    &__headingTwo
        display: flex
        align-content: center
        align-items: center

    &__bigIcon
        width: 70px
        margin-left: 10px

.statistic
    @include sectionStyles
    position: relative
    padding: 50px 30px
    margin-bottom: 20px

    &::after
        position: absolute
        content: ""
        width: 100vw
        height: 1px
        background-color: $borderColor
        top: 0
        left: 0

    &::before
        position: absolute
        content: ""
        width: 100vw
        height: 1px
        background-color: $borderColor
        bottom: 0
        left: 0

    &__span
        color: $blue

    &__statisticBox
        @include flexRowCenter
        justify-content: space-between

    &__iconBox
        @include flexColumnCenter
        padding: 0px 20px 10px

        &--mid
            border-right: 1px solid $borderColor
            border-left: 1px solid $borderColor

    &__counterParagraph
        font-family: 'Mali', cursive
        font-size: 1.6rem
        font-weight: 400
        line-height: 1.6

    &__icon
        width: 30px
        height: 46px

    &__headingThree
        text-align: center

.footer
    text-align: center
    padding: 0px 30px 20px

    &__iconSVG
        @include flexRowCenter
        z-index: 1000

    &__circle
        width: 5px
        height: 5px
        border-radius: 50%
        background-color: $black

    &__paragraph
        font-family: 'Mali', cursive
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 1.3px
        margin-top: 10px

@import "./_medium"
@import "./_large"
